.anvil-role-square-button {
border-radius: 0px
  }

.anvil-m3-navigation-rail{
 display: none;

}

.anvil-role-dropdowntextsize{
 font-size: 20px;
}

.anvil-role-dropdownplaceholder input::placeholder{
  color: red;
}